<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>894313164992-elqaphfndgt2071jrdtbtr0cbjund7ek.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.894313164992-elqaphfndgt2071jrdtbtr0cbjund7ek</string>
	<key>API_KEY</key>
	<string>AIzaSyDAuT_MpfIMmhVG03Unq84oaaauH_JP2Fc</string>
	<key>GCM_SENDER_ID</key>
	<string>894313164992</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.heavyar.app</string>
	<key>PROJECT_ID</key>
	<string>heavyar-app</string>
	<key>STORAGE_BUCKET</key>
	<string>heavyar-app.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:894313164992:ios:b3b050a772d6f11296fd25</string>
</dict>
</plist>